---
import Layout from '../layouts/Layout.astro';
import logo from '../assets/logo-circle.png';
import hero from '../assets/hero.png';
import { Image } from 'astro:assets';
import EarlyAccessButton from '../components/EarlyAccessButton.jsx';
---

<head>
	<title>Reely App - Async Video Chat</title>
	<meta name="description" content="Reely App is a mobile-first platform for asynchronous video conversations. Join our beta testing group and experience the future of video communication.">
	<meta name="keywords" content="Reely App, asynchronous video, video conversations, mobile-first platform, beta testing, TikTok alternative, Snapchat alternative">
	<meta name="author" content="Reely App Team">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Reely App - Async Video Chat">
	<meta property="og:description" content="Reely App is a mobile-first platform for asynchronous video conversations. Join our beta testing group and experience the future of video communication.">
	<meta property="og:image" content={hero.src}>
	<meta property="og:url" content="https://getreely.app">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Reely App - Async Video Chat">
	<meta name="twitter:description" content="Reely App is a mobile-first platform for asynchronous video conversations. Join our beta testing group and experience the future of video communication.">
	<meta name="twitter:image" content={hero.src}>
</head>

<style>
	body {
		background-color: #060a13;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		margin: 20;
		padding: 20px;
		box-sizing: border-box;
	}

	.top-bar {
		top: 0;
		left: 0;
		width: 96%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 20px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
		z-index: 1000;
	}

	.top-bar img {
		width: 126px;
		height: 126px;
	}

	section {
		text-align: center;
		margin-bottom: 0px;
	}

	section + section {
		margin-top: 60px;
	}

	h1, h2 {
		color: #f9c07d;
		margin-bottom: 20px;
	}

	p {
		line-height: 1.8;
		font-size: 1.1rem;
		margin: 10px 0;
	}

	a {
		color: #f9c07d;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1rem;
	}

	a:hover {
		text-decoration: underline;
	}

	.hero {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		flex-direction: row;
		max-width: 900px;
		margin: 30px auto 0;
		width: 100%;
		margin-bottom: 60px;
	}

	.hero div {
		/* height: 300px; */
		display: flex;
		align-items: left;
		justify-content: left;
		color: #fff;
		font-size: 1.5rem;
	}

	.hero-content {
		text-align: left;
		color: #fff;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}

	.hero-content h1 {
		color: #f9c07d;
		margin-bottom: 20px;
	}

	.hero-content p {
		line-height: 1.8;
		font-size: 1.1rem;
		margin: 10px 0;
	}

	.hero img {
		width: 500px;
		height: 359px;
	}

	.container .early-access {
		margin-top: 0px;
	}

	.container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		align-items: center;
	}

	@media (max-width: 768px) {
		.hero {
			flex-direction: column;
			align-items: center;
		}

		.hero img {
			width: 100%;
			height: auto;
		}

		.hero-content {
			text-align: center;
			align-items: center;
		}
	}

	@media (max-width: 480px) {
		body {
			padding: 10px;
		}

		.top-bar {
			flex-direction: column;
			align-items: center;
			padding: 10px;
		}

		.top-bar img {
			width: 80px;
			height: 80px;
		}

		.hero {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.hero img {
			width: 100%;
			height: auto;
		}

		.hero-content {
			align-items: center;
		}

		.hero-content h1 {
			font-size: 1.5rem;
		}

		.hero-content p {
			font-size: 1rem;
		}

		.container {
			padding: 0 10px;
		}
	}
</style>

<Layout>
	<div class="top-bar">
		<Image src={logo} alt="Reely Logo" width={126} height={126} loading="eager" />
		<EarlyAccessButton client:only="react" />
	</div>
	<div class="container">

		<section class="hero">
			<div class="hero-content">
				<h1>Reely</h1>
				<div>
					<p>
						Reely is a phone app that lets you have video conversations using short, fun video messages, a bit like sending Snaps back and forth. Imagine being able to chat with your friends and family using short video replies, like a mix of Snapchat's video messages and TikTok's easy-to-use video format.
					</p>
				</div>
			</div>
			<div>
				<p><Image src={hero} alt="Reely Hero" width={500} height={359} loading="eager" /></p>
			</div>
		</section>

		<section class="early-access">
			<h2>Early Access</h2>
			<p>
				Reely is currently in Early Access! Be one of the first to try it out by requesting to join our beta testing group.
			</p>
			<div>
				<EarlyAccessButton client:only="react" />
			</div>
		</section>

		<section>
			<h2>The Reely Experience</h2>
			<p>
				Discover the sounds of Reely! Dive into our curated album and experience the vibe that defines our platform.
			</p>
			<div style="text-align: center; margin-top: 20px;">
				<iframe 
					width="100%" 
					height="300" 
					allow="autoplay" 
					title="The Reely Experience SoundCloud Player" 
					loading="lazy" 
					src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/reely-studios/sets/the-reely-experience&color=%23d75e91&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
				</iframe>
			</div>
		</section>
	</div>
</Layout>
